<%# Displays any Error Messages %>
<div class="error_messages">
  <% if @teacher.errors.any? %>
    <ul>
      <% @teacher.errors.full_messages.each do |error| %>
        <li class="alert-danger error-flash">*<%= error %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%# Teacher Profile form %>
<%= form_with model: @teacher, local: true do |form| %>
  <div>
    Speciality: 
      <div>
        <%# Displays all styles as radio buttons. Only one speciality style can be selected per Teacher Profile %>
        <% Style.all.each do |style| %>
          <%= form.radio_button :speciality, style.id, required: true %>
          <%= form.label :speciality, style.name %>
        <% end %> 
      </div>
  </div>
  
  <%# Displays all styles as checkboxes. User can select as many 'other styles' as they want %>
  <div>
    <%= form.label :styles, 'Styles:' %><br>
    <%= form.collection_check_boxes :styles, Style.all, :id, :name, include_hidden: false, acceptance: true do |b| %>
      <div class="form-check form-check-inline">
        <%= b.check_box class: 'form-check-input', acceptance: true %>
        <%= b.label class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :availability, 'Availability:' %><br>
    <%= form.text_field :availability %>
  </div>

  <div>
    <%= form.label :price, 'Price:' %><br>
    <%= form.number_field :price, in: 1..300, step: 1 %>
  </div>

  <div>
    <%= form.label :lesson_length, 'Lesson Length:' %><br>
    <%= form.select(:lesson_length, [['30'], ['60']]) %> mins
  </div>

  <div>
    <%= form.label :bio, 'Bio:' %><br>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.label :teaching_info, 'Teaching Info:' %><br>
    <%= form.text_area :teaching_info %>
  </div>

  <div>
    <%= form.label :picture, 'Profile Photo: ' %><br>
    <%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
  </div>

  <p><div>
    <%= form.submit %>
  </div></p>
<% end %>